@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
    font-family: 'Ubuntu', sans-serif;
}

.title {
    @apply text-2xl uppercase font-bold;
}

.subtitle {
    @apply text-lg capitalize font-bold;
}

.caption {
    @apply text-sm;
}

strong {
    @apply font-bold;
}

button, button[type=submit] {
    @apply rounded-full bg-primary text-center py-2 px-4 text-white uppercase;
    transition: background-color 0.2s linear;
    box-shadow: 3px 3px 5px theme("colors.primarylight") inset,
    -3px -3px 5px theme("colors.primarydark") inset,
    2px 2px 5px theme("colors.primarydark");
    &[icon] {
        @apply flex items-center justify-center p-2;
    }
    &[small] {
        @apply  py-1 px-2 text-sm;
    }
    &[disabled] {
        @apply bg-gray;
    }
    &:hover {
        @apply bg-primarylight;
    }
}

label {
    @apply flex flex-col text-sm gap-1;
    &[radio] {
        @apply flex-row items-center gap-2 cursor-pointer;
    }
    span {
        @apply text-error italic text-base text-sm;
    }
}

input[type=text],
input[type=password],
input[type=email],
input[type=datetime-local],
input[type=date] {
    @apply p-2 border border-gray border-solid rounded-lg text-base;
    transition: border-color .2s;
    &:focus {
        @apply border-primary;
        outline: none;
    }
    &::placeholder {
        @apply text-gray;
    }
}

input[type=radio] {
    @apply appearance-none border border-gray rounded-full w-4 h-4 relative cursor-pointer;
    &:checked {
        &:before {
            @apply block absolute bg-primary rounded-full inset-0;
            content: '';
        }
    }
}

.list {
    @apply flex flex-col border-t border-gray;
    li {
        @apply p-2 border-b border-gray;
    }
    &.clickable {
        li {
            cursor: pointer;
            transition: all .2s linear;
            &:hover {
                box-shadow: 2px 2px 8px theme("colors.gray");
            }
        }
    }
}

.modal {
    @apply fixed inset-0 flex items-center justify-center;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 10;
    &Card {
        @apply bg-white;
        width: 480px;
        max-width: calc(100% - theme("spacing.4"));
        animation-name: zoomIn;
        animation-duration: 0.2s;
    }
    &Head {
        @apply p-2 text-xl font-bold uppercase flex items-center bg-primary text-white;
        .material-icons {
            cursor: pointer;
        }
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0.3);
    }

    50% {
        opacity: 1;
    }
}

.slide-enter-active, .slide-leave-active {
    transition: all .5s;
}
.slide-enter, .slide-leave-to {
    opacity: 0;
    transform: translateY(-100%);
}
